/* h3{
    color: chocolate;
    font-size: 3rem;
} */

#first_para{
    font-weight: lighter;
    font-size: x-large;
    color: red;
}

.sec_para{
    font-weight: bolder;
    font-size: xx-large;
    color: blue;
}

.double_para{
    background-color: black;
}

h1,h2,h3{
    text-align: center;
    color: darkcyan;
}

.green_box{
    background-color: green;
}

.diff{
    font-size: xx-large;
    font-weight: bold;
    color: aqua;
}

.box_model{
    width: 200px;
    border: 5px double orange;
    padding: 15px 30px 40px 50px;
    margin: 10px;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-color:paleturquoise;
    text-align: justify;
}