/* Global Styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

li {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* TASK 1 ========================================================= */
.task1 {
    background-color: rgba(207, 253, 255, 0.839);
}

.main_container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.top_navbar {
    height: 55px;
    border: 3px solid black;
    margin-bottom: 8px;
}

.main {
    border: 3px solid black;
    display: flex;
}

.sidebar {
    width: 25%;
    border-right: 3px solid black;
    margin-right: 10px;
}

.content {
    width: 75%;
    margin: 10px;
}

.subNav {
    height: 60px;
    border: 3px solid black;
    margin-bottom: 10px;
}

.bottom_content {
    display: flex;
}

.box {
    width: 50%;
    border: 3px solid black;
    height: 350px;
    margin-right: 10px;
}

.box:last-child {
    margin-right: 0;
}

.footer {
    height: 40px;
    border: 3px solid black;
    margin-top: 10px;
}

/*  TASK 2 ============================================*/

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul a li {
    padding: 15px 35px;
}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background: #435a5a;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

#home {
    background: #1dcdca;
}

#services {
    background: #f29f19;
}

#portfolio {
    background: #a65fc2;
}

#about {
    background: #3ad47a;
}

#contact {
    background: #ed4e3d;
}


/* TASK 3 =========================================================================== */


.menu {
    background-color: black;
    color: white;
    margin: 0 0 5px 0;
}

.menu>ul {
    display: flex;

}

.menu2 {
    background-color: red;
}

.menu2>ul>li:hover {
    font-size: large;
}

.menu3>ul>li {
    border-right: 1px solid cyan;
}

.menu3>ul>li:hover {
    background-color: rgb(71, 70, 70);
}

.menu4>ul>li:active {
    background-color: darkseagreen;

}

.menu5 {
    background-color: gray;

}


.menu5>ul>li:active {
    background-color: darkseagreen;
}

/* Using @media for Responsiveness */
@media screen and (max-width: 600px) {
    .menu5>ul {
        flex-direction: column;

    }

    .menu5>ul>li {
        text-align: center;
    }
}